/* Variables */
:root {
    --bg-color: #2D4739;
    --primary-color: #09814A;
    --secondary-color: #E5C687;
    --input-color: #121619;
  }
  
  /* Global Styles */
  body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: var(--bg-color);
    color: #fff; /* Set text color to white for better contrast */
  }
  
  h1 {
    text-align: center;
    color: var(--primary-color);
  }
  
  .container {
    margin-top: 20px;
  }
  
  /* Form Styles */
  form {
    margin-bottom: 10px;
  }
  
  form label,
  form input,
  form select,
  form button {
    margin-right: 10px;
  }
  
  form label {
    font-weight: bold;
  }
  
  /* List Styles */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
  }
  
  li span {
    display: flex;
    align-items: center;
  }
  
  li .edit-fields {
    display: none;
    margin-top: 10px;
  }
  
  /* Button Styles */
  button {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
  }
  
  .add-btn {
    background-color: var(--primary-color);
  }
  
  .save-btn {
    background-color: #28a745;
  }
  
  .cancel-btn {
    background-color: #dc3545;
  }
  
  .delete-btn {
    background-color: #dc3545;
  }
  
  .toggle-btn {
    background-color: #17a2b8;
  }
  
  /* Sort Buttons */
  .sort-buttons {
    margin-top: 20px;
    text-align: center;
  }
  
  .sort-btn {
    margin: 5px;
    padding: 5px 10px;
    background-color: var(--input-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  /* Activity Log Styles */
  #activityLog {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  #activityLog p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  /* Task List Styles */
  #taskList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #09814A; /* Background color for the todo list items */
    color: #fff; /* Text color for the todo list items */
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
  }
  
  /* Task Details Container */
  #taskList li .task-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  /* Details Styles (category, tags, due date, etc.) */
  #taskList li .task-details span {
    margin-right: 12px;
  }
  
  /* Task Actions Container (Buttons) */
  #taskList li .task-actions {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  
  /* Task Action Buttons */
  #taskList li .task-actions button {
    color: #fff;
    background-color: var(--input-color);
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
  }
  
  /* Task Action Buttons on Hover */
  #taskList li .task-actions button:hover {
    background-color: #495057;
  }
  
  /* Activity Log List */
  #activityLogsList {
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
    list-style-type: none;
  }
  
  /* Activity Log Item */
  #activityLogsList li {
    color: #fff;
    margin-bottom: 8px;
    background-color: var(--bg-color);
    padding: 8px;
    border-radius: 4px;
  }
  
  /* Backlog List */
  #backlogsList {
    background-color: var(--bg-color);
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
    list-style-type: none;
  }
  
  /* Backlog Item */
  #backlogsList li {
    color: #fff;
    margin-bottom: 8px;
    background-color: var(--bg-color);
    padding: 8px;
    border-radius: 4px;
  }
  
  /* Filter Section */
  #filterForm {
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 4px;
  }
  
  /* Filter Buttons */
  #filterForm label,
  #filterForm input,
  #filterForm select,
  #filterForm button {
    margin-right: 10px;
    color: #fff;
    background-color: var(--input-color);
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Filter Buttons on Hover */
  #filterForm button:hover {
    background-color: #495057;
  }
  
  /* Sort and Search Section */
  .sort-search-section {
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Sort and Search Buttons */
  .sort-search-section label,
  .sort-search-section input,
  .sort-search-section select,
  .sort-search-section button {
    margin-right: 10px;
    color: #fff;
    background-color: var(--input-color);
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Sort and Search Buttons on Hover */
  .sort-search-section button:hover {
    background-color: #495057;
  }
  
  /* Search Section */
  #searchForm {
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
  
  /* Search Input Field */
  #searchForm input[type="text"] {
    color: #fff;
    background-color: var(--input-color);
    border: none;
    padding: 8px;
    border-radius: 4px;
    outline: none;
    width: 200px;
  }
  
  /* Search Button */
  #searchForm button {
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Placeholder Text for Search Input Field */
  #searchForm input[type="text"]::placeholder {
    color: #fff;
  }
  
  /* Task Form */
  #taskForm {
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 4px;
  }
  
  /* Task Form Labels, Inputs, Select, and Buttons */
  #taskForm label,
  #taskForm input,
  #taskForm select,
  #taskForm button {
    margin-right: 10px;
    color: #fff;
    background-color: var(--input-color);
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Placeholder Text for Task Form Input Fields and Select */
  #taskForm input[type="text"]::placeholder,
  #taskForm select::placeholder {
    color: #fff;
  }
  
  /* Use grid layout for a more organized layout in the task form */
  #taskForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  
  /* Improve responsiveness of the task form */
  @media (max-width: 768px) {
    #taskForm {
      margin-top: 10px;
      grid-template-columns: 1fr;
    }
  
    #taskForm input[type="text"],
    #taskForm select,
    #taskForm button {
      width: 100%;
    }
  }
  

  .add-task-btn {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  

  .apply-filter-btn {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  

  .add-subtask-btn {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
 
  .add-task-btn:hover,
  .apply-filter-btn:hover,
  .add-subtask-btn:hover {
    background-color: var(--secondary-color);
  }
  
  
  @media (max-width: 768px) {
    .add-task-btn,
    .apply-filter-btn,
    .add-subtask-btn {
      width: 100%;
    }
  }
  

.add-subtask-btn {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }

  .add-subtask-btn:hover {
    background-color: #d1984d; 
  }
  

  @media (max-width: 768px) {
    .add-subtask-btn {
      width: 100%;
    }
  }
 
 #subtask-btn-1 {
    background-color: black;
    margin-top:10px
  }

  @media (max-width: 768px) {
    #subtask-btn-1 {
      width: 100%;
    }
  }
  
  .subtask-list {
    margin-top: 8px;
    padding: 8px;
    border-bottom: 1px solid #000; /* Black border bottom for the subtask list */
    background-color: #2D4739; /* Background color for the subtask list */
  }
  
  /* Apply styles to the subtask list items (li elements) */
  .subtask-list li {
    color: #fff; /* Text color for the subtask list items */
    margin-bottom: 4px;
    padding: 4px;
  }
  