
:root {
    --bg-color: #2D4739;
    --primary-color: #09814A;
    --secondary-color: black;
    --input-color: #121619;
  }
  
 
  body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: var(--bg-color);
    color: #fff; 
  }
  
  h1 {
    text-align: center;
    color: var(--primary-color);
  }
  
  .container {
    margin-top: 20px;
  }
  

  form {
    margin-bottom: 10px;
  }
  
  form label,
  form input,
  form select,
  form button {
    margin-right: 10px;
  }
  
  form label {
    font-weight: bold;
  }
  
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
  }
  
  li span {
    display: flex;
    align-items: center;
  }
  
  li .edit-fields {
    display: none;
    margin-top: 10px;
  }
  

  button {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
  }
  
  .add-btn {
    background-color: var(--primary-color);
  }
  
  .save-btn {
    background-color: #28a745;
  }
  
  .cancel-btn {
    background-color: #dc3545;
  }
  
  .delete-btn {
    background-color: #dc3545;
  }
  
  .toggle-btn {
    background-color: #17a2b8;
  }
  

  .sort-buttons {
    margin-top: 20px;
    text-align: center;
  }
  
  .sort-btn {
    margin: 5px;
    padding: 5px 10px;
    background-color: var(--input-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }

  
  #activityLog {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  #activityLog p {
    margin: 5px 0;
    font-size: 14px;
  }
  

  #taskList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #09814A; 
    color: #fff; 
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
  }
  
  
 
  #taskList li .task-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  

  #taskList li .task-details span {
    margin-right: 12px;
  }
  
 
  #taskList li .task-actions {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }


  #taskList li .task-actions button {
    color: #fff;
    background-color: var(--input-color);
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
  }
  

  #taskList li .task-actions button:hover {
    background-color: #495057;
  }
  




  #activityLogsList {
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
    list-style-type: none;
  }
  

  #activityLogsList li {
    color: #fff;
    margin-bottom: 8px;
    background-color: var(--bg-color);
    padding: 8px;
    border-radius: 4px;
  }
  
 
  #backlogsList {
    background-color: var(--bg-color);
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
    list-style-type: none;
  }
  

  #backlogsList li {
    color: #fff;
    margin-bottom: 8px;
    background-color: var(--bg-color);
    padding: 8px;
    border-radius: 4px;
  }
  
 
  #filterForm {
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 4px;
  }
  

  #filterForm label,
  #filterForm input,
  #filterForm select,
  #filterForm button {
    margin-right: 10px;
    color: #fff;
    background-color: var(--input-color);
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }

  #filterForm button:hover {
    background-color: #495057;
  }
  
  
  .sort-search-section {
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  .sort-search-section label,
  .sort-search-section input,
  .sort-search-section select,
  .sort-search-section button {
    margin-right: 10px;
    color: #fff;
    background-color: var(--input-color);
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  
 
  .sort-search-section button:hover {
    background-color: #495057;
  }
  
 
  #searchForm {
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
  

  #searchForm input[type="text"] {
    color: #fff;
    background-color: var(--input-color);
    border: none;
    padding: 8px;
    border-radius: 4px;
    outline: none;
    width: 200px;
  }
  

  #searchForm button {
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  

  #searchForm input[type="text"]::placeholder {
    color: #fff;
  }
  

  #taskForm {
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 4px;
  }
  

  #taskForm label,
  #taskForm input,
  #taskForm select,
  #taskForm button {
    margin-right: 10px;
    color: #fff;
    background-color: var(--input-color);
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  

  #taskForm input[type="text"]::placeholder,
  #taskForm select::placeholder {
    color: #fff;
  }
  
 
  #taskForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  

  @media (max-width: 768px) {
    #taskForm {
      margin-top: 10px;
      grid-template-columns: 1fr;
    }
  
    #taskForm input[type="text"],
    #taskForm select,
    #taskForm button {
      width: 100%;
    }
  }
  

  .add-task-btn {
    background-color: #09814A;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  

  .apply-filter-btn {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  

  .add-subtask-btn-1 {
    background-color: black;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
 
  .add-task-btn:hover,
  .apply-filter-btn:hover,
  .add-subtask-btn:hover {
    background-color: var(--secondary-color);
  }
  
  
  @media (max-width: 768px) {
    .add-task-btn,
    .apply-filter-btn,
    .add-subtask-btn {
      width: 100%;
    }
  }
  

.add-subtask-btn-1 {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }

  .add-subtask-btn:hover {
    background-color: #d1984d; 
  }
  

  @media (max-width: 768px) {
    .add-subtask-btn {
      width: 100%;
    }
  }
 
 #subtask-btn-1 {
    background-color: black;
    margin-top:10px
  }

  @media (max-width: 768px) {
    #subtask-btn-1 {
      width: 100%;
    }
  }
  
  .subtask-list {
    margin-top: 8px;
    padding: 8px;
    border-bottom: 1px solid #000; 
    background-color: #2D4739;
  }
  

  .subtask-list li {
    color: #fff; 
    margin-bottom: 4px;
    padding: 4px;
  }
  #taskForm button{
    background-color: #09814A;
  }
  #subtask-btn-1{
    background-color: #09814A;
  }
  #filterForm button {
    background-color: #09814A;
  }

#taskList li ul li{
  background-color: darkgreen;
  width: 300px;
}